/*
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}
*/

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInAndUp {
  0% {
    opacity: 0;
    transform: rotateX(-45deg) translateY(50%);
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg) translateY(0%);
  }
}


header {
  animation: slideInFromLeft 1s ease 0s 1;
}

h2 {
  animation: fadeInAndUp 1s ease 0s 1;
}

.article {
  animation: fadeInAndUp 1s ease 0s 1;
}
