/*
http://i.imgur.com/NRbMgt.jpg // toothy smiling
http://i.imgur.com/oCNbSjO.jpg // toothless grin
 */
header {
  overflow: visible;
  text-align: center;

  & h1 {
    color: var(--black);
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    margin: 0;
    padding: 0;

    @media (--viewport-medium) {
      margin-left: -6rem;
    }

    & a,
    & a:visited,
    & a:hover,
    & a:active {
      text-decoration: none!important;
      color: var(--black) !important;
    }

    & span {
      position: relative;
      display: block;
      padding: 0 0 0 1.5rem;

      &::after {
        content: "";
        display: block;
        border-bottom: 1px solid var(--primary);
        width: 1000px;
        position: absolute;
        right: 0;
      }
    }

    & small {
      display: block;
      font-size: .5em;
      padding: .25em 0;
      text-align: right;

      @media (--viewport-medium) {
        &::after {
          content: ":";
        }
      }
    }
  }
}
