/* breakpoints */
@custom-media --viewport-medium (min-width: 752px); /* above: set navbar to inlay block, add colon to header>h1>small */
@custom-media --viewport-large (min-width: 1024px); /* below:article min to 30ch */

:root {
  /* colors */
  --black: #111111;
  --white: #FFFFFF;
  --red: #B81927;
  --orange: #E35D12;
  --yellow: #D3AA28;
  --green: #2E7526;
  --blue: #042F8D;
  --tan: #74462E;
  --brown: #40201A;
  --purple: rebeccapurple;
  /* nobody really knows how to spell this word */
  --gray: #B0B0B0;
  --grey: var(--gray);

  /* globals */
  --body-bg: var(--gray);
  --color: var(--black);
  --primary: var(--blue);
  --font-family: "Montserrat", sans-serif;

  /*
  // Kuler: beachside
   darkest blue: #042F8D
   medium blue: #0578C1
   light blue: #06C3D6
   green: #2E7526
   tan: #74462E

  // Kuler: funky shirt 2
   dark blue: #15445C
   off white: #D9D8D4
   orange: #DB6C09
   light blue: #2D8091
   brown: #40201A

  // Kuler: primary funk
   red: #B81927
   off white: #F8F9FC
   light blue: #01AEE7
   mustard yellow: #D3AA28
   orange: #E45D12
  */
}
