body {
    font: 100%/1.5 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    background: #b0e0e0 url('../images/gradient2.svg');
    color: #222;
    padding: 0;
    margin: 0;
}
a {
    color: #224;
    text-decoration: none;
}

a:hover {
    color: #226;
    text-decoration: underline;
}

#main {
    min-width:50%;
    max-width:60em;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.6);
}
header {
    padding: 0 10px;
    overflow: hidden;
}
h1 {
    margin: 0;
}

nav ul, ul.entries {
    list-style-type: none;
}
nav li a {
    float: left;
    margin: 5px; 
}
.content {
    padding: 10px;
}

ul.entries li {
    margin: 20px auto;
    padding: 20px;
    background: #ececec;
}

ul.entries li h3 {
    font-size: 2em;
}
ul.entries a {
    color: #ececec;
}
ul.entries a:hover {
    color: #fff;
}

footer {
    font-size: 0.65em;
    text-align: center;
}
