---
layout: base
---
{% for post in paginator.posts %}
<article>
{% include post_detail.html %}
<div class="center"><a href="{{post.url | lower }}#disqus_thread">[comments]</a></div>
</article>
{% endfor %}

<div class="pagination">
    <span>
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <a href="/">&laquo;~</a>
            {% else %}
                <a href="/page{{paginator.previous_page}}" class="previous">&laquo;~</a>
            {% endif %}
        {% else %}
            &nbsp;&nbsp;
        {% endif %}
        [{{paginator.page}}/{{paginator.total_pages}}]
        {% if paginator.next_page %}
            <a href="/page{{paginator.next_page}}" class="next ">~&raquo;</a>
        {% else %}
            &nbsp;&nbsp;
        {% endif %}
        <br />
        <a href="#main" title="back to top">&#9650;</a>
    </span>
</div>
<script type="text/javascript">
    window._idl = {};
    _idl.variant = "banner";
    (function() {
        var idl = document.createElement('script');
        idl.type = 'text/javascript';
        idl.async = true;
        idl.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'banner');
        document.getElementsByTagName('body')[0].appendChild(idl);
    })();
</script>
