---
layout: base
title: Projects
---
<div class=projects>
<h2>Projects</h2>
<ul>
  {% for post in site.tags.project %}
    <li>
      {% if post.projectImg %}<img src="{{ post.projectImg }}" alt="{% if post.projectName %}{{ post.projectName }}{% else %}{{ post.title }}{% endif %} screenshot"/>{% endif %}
      <h3><a href="{% if post.projectUrl %}{{ post.projectUrl }}{% else %}{{ post.url }}{% endif %}">{% if post.projectName %}{{ post.projectName }}{% else %}{{ post.title }}{% endif %}</a></h3>
      <p>{{ post.excerpt | strip_html }}&hellip; <a href="{{ post.url | downcase }}">{% if post.projectName %}project details{% else %}read more{% endif %}</a></p>
    </li>
  {% endfor %}
</ul>
<h2>Portfolio</h2>
<ul>
  {% for post in site.tags.portfolio %}
    <li>
      {% if post.projectImg %}<img src="{{ post.projectImg }}" alt="{% if post.projectName %}{{ post.projectName }}{% else %}{{ post.title }}{% endif %} screenshot"/>{% endif %}
      <h3><a href="{% if post.projectUrl %}{{ post.projectUrl }}{% else %}{{ post.url }}{% endif %}">{% if post.projectName %}{{ post.projectName }}{% else %}{{ post.title }}{% endif %}</a></h3>
      <p>{{ post.excerpt | strip_html }}&hellip; <a href="{{ post.url | downcase }}">{% if post.projectName %}project details{% else %}read more{% endif %}</a></p>
    </li>
  {% endfor %}
</div>
