---
layout: base
title: Writings
---
<div class="archive">
    <h2>Writings</h2>
    <ul>
        {% for post in site.posts %}
            {% if post.redirect %}
            {% else %}
            <li>
              <a href="{{ post.url | downcase }}">
                {% if page.date %}
                  <time datetime="{{ page.date | date_to_xmlschema }}">
                          {{ page.date  | date: "%m/%Y" }}:
                  </time>
                {% else %}
                  <time datetime="{{ post.date | date_to_xmlschema }}">
                          {{ post.date  | date: "%m/%Y" }}:
                  </time>
                {% endif %}
                {{ post.title }}</a>
                <p>{{ post.excerpt | strip_html }}&hellip; <a href="{{ post.url | downcase }}">read more</a></p>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
