<footer>
        <div>
                <div>
                        {% include social_media.html %}
                </div>
                <div>
                        <a href="https://internetdefenseleague.org"><img src="https://internetdefenseleague.org/images/badges/final/side_bar_badge.png" alt="Member of The Internet Defense League"/></a>
                </div>
                <div>
                        <p>All original code presented under the <a rel="license" href="https://raw.github.com/JKirchartz/NPL/master/NPL.txt">NP License</a>; all wrongs reserved.</p>
                        <p>All original text and images are under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons 3.0</a> attribution licence.</p>
                </div>
        </div>
</footer>

