<footer>
  {% include social_media.html %}
  <ul id="affiliations">
    <li><a href="http://internetdefenseleague.org"><img src="/images/IDL_badge.png" alt="Member of The Internet Defense League" /></a></li>
    <li><a href="http://www.alrdesign.com/dam.html"><img src="/images/DAM_badge.gif" alt="Designers Against Monoculture" /></a></li>
  </ul>
  <div id="license">
    <p>All original code presented under the <a rel="license" href="https://raw.github.com/JKirchartz/NPL/master/NPL.txt">NP License</a>; all wrongs reserved.</p>
    <p>All original text and images are under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons 3.0</a> attribution licence.</p>
  </div>
</footer>

