<footer>
  <div>
    <div>
      {% include social_media.html %}
    </div>
    {% if !hide_license %}
    <div>
      <p>All original code presented under the <a rel="license" href="https://raw.github.com/JKirchartz/NPL/master/NPL.txt">NP License</a>; all wrongs reserved.</p>
      <p>All original text and images are under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons 3.0</a> attribution licence.</p>
      <p>Found a typo? Something acting weird? Have a suggestion? <a href="https://github.com/jkirchartz/jkirchartz.github.com/issues">Let me know so I can fix it!</a></p>
    </div>
    {% endif %}
  </div>
</footer>

