<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="p:domain_verify" content="28092cfebd8dcf35ac5c5d6a35788f6c"/>
<meta name="flattr:id" content="mypzvj">
<title> {% if page.title %} {{ page.title }} | {% endif %} Joel Kirchartz - Web Yinzer n'at</title>
<link href="/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" media="not print" href="/css/style.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<script src="https://kit.fontawesome.com/9b28502349.js"></script>
{% seo %}
{% feed_meta %}
