<header>
        <h1><a href="/"><span>J.Kirchartz</span> <small>Web Yinzer</small></a></h1>
        <nav role="navigation">
                <a href="/about.html">About</a>
                <a href="/notes.html">Notes</a>
                <a href="/portfolio.html">Portfolio</a>
                <a href="/demos/">Demos</a>
                <a href="/noise.html">Noise</a>
                <a href="//resume.jkirchartz.com">Resume</a>
        </nav>
        <!-- a href="#top"><i class="fa fa-long-arrow-down"></i></a -->
</header>
<div id="top"></div>
