<article>
<h1 class="entry-title">
    {% if page.title %}
        <a href="{{ page.url | lower }}">{{ page.title }}</a>
    {% endif %}
    {% if post.title %}
        <a href="{{ post.url | lower  }}">{{ post.title }}</a>
    {% endif %}
</h1>

{% if content %}
{{ content }}
{% else %}
{{ post.content }}
{% endif %}

{% include time.html %}

<div id="disqus_thread"></div>
<script type="text/javascript" src="http://jkirchartz.disqus.com/embed.js"> </script>
<noscript>Please enable JavaScript to <a href="http://jkirchartz.disqus.com/?url=ref">view the discussion thread.</a></noscript>
</article>
