<script type="text/javascript">
        var d = document, b = d.getElementsByTagName('body')[0],
        wa = d.createElement('div'),
        w = window.innerWidth, h = window.innerHeight;
        style = "background: linear-gradient(",
        ran = (x) => Math.floor(Math.random() * x),
        bgi = bgp = bgs = "", c = p = s = 0,
        cv = [...document.styleSheets[0].cssRules.item('root').style ?? []].filter(i => (i.match(/-/g) || []).length < 3); // get CSS3 variables
        wa.setAttribute('class', 'wallpaper');
    /* generate wallpaper */
        for (var i = 0, l = 15; i != l; i++) {
          p = p >= 100 ? 100 : (p + (i%2 ? ran(30) + 10 : 0));
          c = i%2 ? c :"var(" + cv[ran(cv.length)] + ") ";
          style += c + p+"%" + (i<l-1?", ":")");
          if (!(i % 2)) {
            let size = d.querySelectorAll('header')[0].offsetHeight,
              rad = ran(40) + 10,
              col = "var(" + cv[ran(cv.length)] + ") ";
            bgi += ['radial-gradient(', col, ' 0, ', col , ' ', rad, '%, transparent ', rad, '%),'].join('');
            bgs += size + 'px ' + size + 'px,';
            bgp += (ran(w/2)) + 'px ' + (ran(h/2)) + 'px,';
          }
        };
        wa.innerHTML = "<div class='bg-stripe'><div style='" + style + "'></div></div>"
        wa.setAttribute("style", 'background-image:' + bgi.slice(0, -1) + ';background-size:' + bgs.slice(0, -1) + ';background-position:' + bgp.slice(0, -1) + ';');
        b.appendChild(wa);
</script>
