<div class="share_buttons social">
    Share via:
    {% if page.title | uri_escape %}
    <a class="twitter" href="http://twitter.com/intent/tweet?url=http%3A%2F%2Fjkirchartz.com{{ page.url | uri_escape }}&text={{ page.title | uri_escape }}&via={{ twitter }}" target="_blank" ><i class="fa fa-twitter" ></i><span class='sr-only'>Twitter</span></a>
    <a class="facebook" href="http://facebook.com/sharer.php?u=http%3A%2F%2Fjkirchartz.com{{ page.url | uri_escape }}" target="_blank" ><i class="fa fa-facebook" ></i><span class='sr-only'>Facebook</span></a>
    <a class="linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url=http%3A%2F%2Fjkirchartz.com{{ page.url | uri_escape }}" target="_blank" ><i class="fa fa-linkedin"></i><span class="sr-only">LinkedIn</span></a>
    <a class="reddit" href="http://www.reddit.com/submit?title={{ page.title | uri_escape }}&url=http%3A%2F%2Fjkirchartz.com{{ page.url | uri_escape}}" target="_blank"><i class="fa fa-reddit" ></i><span class='sr-only'>Reddit</span></a>
    <a class="email" href="mailto:?subject={{ page.title | uri_escape }}&body=http%3A%2F%2Fjkirchartz.com{{ page.url | uri_escape }}" target="_blank"><i class="fa fa-envelope" ></i><span class='sr-only'>Email</span></a>
    {% endif %}
</div>
