<div class="share_buttons" style="display:none">
    {% if page.title %}
        <a class="twitter" href="http://twitter.com/intent/tweet?url=http%3A%2F%2Fjkirchartz.com{{ page.url }}&text={{ page.title }}&via=jkirchartz" >twitter</a>
        <a class="facebook" href="http://facebook.com/sharer.php?u=http%3A%2F%2Fjkirchartz.com{{ page.url }}" >facebook</a>
        <a class="google" href="https://plus.google.com/share?url=http%3A%2F%2Fjkirchartz.com{{ page.url }}" >G+</a>
        <a class="email" href="mailto:?subject={{ page.title }}&body=http%3A%2F%2Fjkirchartz.com{{ page.url }}">email</a>
    {% endif %}
    {% if post.title %}
        <a class="twitter" href="http://twitter.com/intent/tweet?url=http%3A%2F%2Fjkirchartz.com{{ post.url }}&text={{ post.title }}&via=jkirchartz" >twitter</a>
        <a class="facebook" href="http://facebook.com/sharer.php?u=http%3A%2F%2Fjkirchartz.com{{ post.url }}" >facebook</a>
        <a class="google" href="https://plus.google.com/share?url=http%3A%2F%2Fjkirchartz.com{{ post.url }}" >G+</a>
        <a class="email" href="mailto:?subject={{ post.title }}&body=http%3A%2F%2Fjkirchartz.com{{ post.url }}">email</a>
    {% endif %}
</div>
