<div class="social_media social">
        <a rel="me" href="&#x6D;&#97;&#x69;&#x6C;&#116;&#x6F;:&#x6D;e&#64;&#x6A;&#x6B;&#105;&#x72;&#99;&#x68;&#97;r&#x74;&#122;&#x2E;&#x63;&#x6F;&#109;" title="Email Me">
                <svg>
                        <use xlink:href="/images/icons.svg#envelope"></use>
                </svg>
        </a>
        <a rel="me" href="http://stackoverflow.com/users/276250/jkirchartz" title="Check my street cred on stackoverflow">
                <svg>
                        <use xlink:href="/images/icons.svg#stack-overflow"></use>
                </svg>
        </a>
        <a rel="me" href="http://github.com/JKirchartz" title="Checkout my github">
                <svg>
                        <use xlink:href="/images/icons.svg#github"></use>
                </svg>
        </a>
        <a rel="me" href="http://www.linkedin.com/in/jkirchartz" title="Connect with me on linkedin">
                <svg>
                        <use xlink:href="/images/icons.svg#linkedin"></use>
                </svg>
        </a>
        <a rel="me" href="http://twitter.com/JKirchartz" title="Follow me on twitter">
                <svg>
                        <use xlink:href="/images/icons.svg#twitter"></use>
                </svg>
        </a>
        <a rel="me" href="http://soundcloud.com/jkirchartz" title="Remix me on soundcloud">
                <svg>
                        <use xlink:href="/images/icons.svg#soundcloud"></use>
                </svg>
        </a>
        <a rel="me" href="http://instagram.com/jkirchartz" title="Scope my pics on instagram">
                <svg>
                        <use xlink:href="/images/icons.svg#instagram"></use>
                </svg>
        </a>
        <a rel="me" href="http://research.jkirchartz.com" title="My bookmark-storage tumblr">
                <svg>
                        <use xlink:href="/images/icons.svg#square-tumblr"></use>
                </svg>
        </a>
        <a rel="me" href="https://keybase.io/jkirchartz" title="My Keybase encrypted social network account">
                <svg>
                        <use xlink:href="/images/icons.svg#keybase"></use>
                </svg>
        </a>
        <a rel="me" href="http://glitches.jkirchartz.com" title="My glitch art tumblr">
                <svg>
                        <use xlink:href="/images/icons.svg#square-tumblr"></use>
                </svg>
        </a>
        <a rel="me" href="http://tilde.town/~kirch" title="My Gateway to the Tildeverse">
                <svg>
                        <use xlink:href="/images/icons.svg#tilde"></use>
                </svg>
        </a>
        <a rel="me" href="http://patreon.com/jkirchartz" title="Become a supporter on Patreon">
                <svg>
                        <use xlink:href="/images/icons.svg#patreon"></use>
                </svg>
        </a>
        <a rel="me" href="https://calendly.com/jkirchartz" title="Schedule a call with Me!">
                <svg>
                        <use xlink:href="/images/icons.svg#calendar"></use>
                </svg>
        </a>
        <a href="http://jkirchartz.com/feed.xml" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">
                <svg>
                        <use xlink:href="/images/icons.svg#rss"></use>
                </svg>
        </a>
        <!-- tilde? 2 more? -->
</div>
