<div id="social_media">
        <a rel="me" href="&#x6D;&#97;&#x69;&#x6C;&#116;&#x6F;:&#x6D;e&#64;&#x6A;&#x6B;&#105;&#x72;&#99;&#x68;&#97;r&#x74;&#122;&#x2E;&#x63;&#x6F;&#109;" title="Hire me"><i class="fa fa-envelope-o" alt="email"></i></a>
        <a rel="me" href="http://stackoverflow.com/users/276250/jkirchartz" title="Check my street cred on stackoverflow"><i class="fa fa-stack-overflow"></i></a>
        <a rel="me" href="http://github.com/JKirchartz" title="Checkout my github"><i class="fa fa-github" alt="github"></i></a>
        <a rel="me" href="http://www.linkedin.com/in/jkirchartz" title="Connect with me on linkedin"><i class="fa fa-linkedin" alt="linkedin"></i></a>
        <a rel="me" href="http://twitter.com/JKirchartz" title="Follow me on twitter"><i class="fa fa-twitter" alt="twitter"></i></a>
        <a rel="me" href="http://tilde.zone/@kirch" title="Toot my horn on Mastodon"><i class="fa fa-mastodon" alt="mastodon"></i></a>
        <a rel="me" href="http://soundcloud.com/jkirchartz" title="Remix me on soundcloud"><i class="fa fa-soundcloud" alt="soundcloud"></i></a>
        <a rel="me" href="http://instagram.com/jkirchartz" title="Scope my pics on instagram"><i class="fa fa-instagram" alt="instagram"></i></a>
        <a rel="me" href="http://research.jkirchartz.com" title="My bookmark-storage tumblr"><i class="fa fa-tumblr" alt="tumblr"></i></a>
        <a href="http://jkirchartz.com/feed.xml" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><i class="fa fa-rss" alt="rss"></i></a>
</div>
