<ul id="social_media">
  <li><a href="http://stackoverflow.com/users/276250/jkirchartz" title="Check my street cred on stackoverflow"><img src="/images/stackoverflow-48x48.png" alt="stackoverflow" /></a></li>
  <li><a href="&#x6D;&#97;&#x69;&#x6C;&#116;&#x6F;:&#x6D;e&#64;&#x6A;&#x6B;&#105;&#x72;&#99;&#x68;&#97;r&#x74;&#122;&#x2E;&#x63;&#x6F;&#109;" title="Hire me"><img src="/images/email-48x48.png" alt="email" /></a></li>
  <li><a href="http://github.com/JKirchartz" title="Checkout my github"><img src="/images/github-48x48.png" alt="github" /></a></li>
  <li><a href="http://www.linkedin.com/in/jkirchartz" title="Connect with me on linkedin"><img src="/images/linkedin-48x48.png" alt="linkedin" /></a></li>
  <li><a href="http://twitter.com/JKirchartz" title="Follow me on twitter"><img src="/images/twitter-48x48.png" alt="twitter" /></a></li>
  <li><a href="http://feeds.feedburner.com/JoelKirchartz" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="/images/feed-48x48.png" alt="feed"/></a></li>
  <li><a href="http://soundcloud.com/jkirchartz" title="Remix me on soundcloud"><img src="/images/soundcloud-48x48.png" alt="soundcloud" /></a></li>
  <li><a href="http://instagram.com/jkirchartz" title="Scope my pics on instagram"><img src="/images/instagram-48x48.png" alt="instagram" /></a></li>
  <!--li><a href="http://research.jkirchartz.com" title="tumble along on tumblr (coding - currently on hiatus)"><img src="/images/tumblr-48x48.png" alt="tumblr" /></a></li-->
  <li><a href="http://stash.jkirchartz.com/" title="My 'stache on tumblr"><img src="/images/tumblr-48x48.png" alt="tumblr" /></a></li>
  <li><a href="http://glitches.jkirchartz.com/" title="My Glitch Art on tumblr"><img src="/images/tumblr-48x48.png" alt="tumblr" /></a></li>
</ul>
