@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.header {
  animation: slideInFromLeft 1s ease 0s 1;

  nav,
  h1 {
    animation: slideInFromLeft 1s ease 0s 1;
  }
}

h2 {
  animation: fadeIn 1s ease 1s 1;
}

.card {
  animation: fadeIn 1s ease 1s 1;
}
