h1 {
  color: $white;
}

h2 {
  font-size: 3rem;
  transform: rotateZ(2.9deg);
}

img {
  @include img-fluid;
}

body {
  background-color: transparent;
  transition: background .5s;
}

a,
a:hover {
  text-decoration: none;
}

footer {
  color: $white;
  margin-top: 2rem;
  text-shadow: 0 0 5px $black;

  h1,
  a,
  a:hover,
  a:active,
  small {
    color: $white;
    text-align: center;
    text-shadow: 0 0 5px $black;
  }

  small {
    display: block;
  }

  [class*=col] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

@include media-breakpoint-down(md) {
  .container-fluid {
    @include make-container-max-widths();
  }
}
