h1 {
  color: $white;
}

h2 {
  font-size: 3rem;
  padding-left: 1.4rem;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: $body-bg;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

main {
  transition: background .5s;
}

a,
a:hover {
  text-decoration: none;
}

footer {
  color: $white;
  margin-top: 2rem;
  text-shadow: 0 0 5px $black;

  h1,
  a,
  a:hover,
  a:active,
  small {
    color: $white;
    text-align: center;
    text-shadow: 0 0 5px $black;
  }

  small {
    display: block;
  }

  [class*=col] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

#license {
  margin-top: 5vh;
}

