header {
        max-width: 100%;
        max-height: 100%;
        font-weight: 700;
        // background-image: url(http://i.imgur.com/NRbMgti.jpg); // toothy smiling
        background-image: url(http://i.imgur.com/oCNbSjO.jpg); // toothless grin
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 430px;
        margin-bottom: 1em;
        position: relative;

        a[href="#top"] {
                &, &:hover, &:active, &:visited {
                        color: white;
                        position: absolute;
                        left: 0; right: 0; bottom: 1em;
                        margin: 0 auto;
                        height: 1em;
                        width: 1em;
                }
                &:hover {
                        font-size: 1.2em;
                }
        }

        nav {
                display: inline-block;
                a {
                        display: block;
                        margin: 1em 0;
                        color: #111;
                        text-decoration: none;
                        font-weight: normal;
                }
                a:hover {
                        font-weight: bold;
                }
        }
        h1 {
                display: inline-block;
                min-width: 70px;
                padding: 1em;
                color: #111;
                font-size: 1.5vw;
                min-font-size: 7px; // screen-width under 440px wide
                border-right: 1px solid #000;
                text-align: center;
                span {
                        display: block;
                        font-size: 5em;
                }
                span:first-child {
                        font-size: 8.5em;
                }
                small {
                        font-size: 1.48em;
                }
        }
}
