header {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 5vw, 100% 100%, 0 calc(100% - 5vw));
        height: 50vh;
        max-width: 100%;
        max-height: 100%;
        font-weight: 700;
        padding-top: 15vw;
        background-image: ;
        // background-image: url(http://i.imgur.com/NRbMgtih.jpg); // toothy smiling
        background-image: linear-gradient(90deg, rgba(255,255,255,0.5) 0, rgba(255,255,255,0) 100%), url(http://i.imgur.com/oCNbSjOh.jpg), linear-gradient(87deg, $white 0%, transparent 87%);
        background-size: cover;
        background-position: center left;
        background-repeat: repeat;
        nav {
                display: block;
                margin-top: 1rem;
                padding-left: 1.4rem;
                a {
                        margin: 1rem 0.25rem;
                        text-decoration: none;
                        font-weight: normal;
                }
                a:hover {
                        font-weight: bold;
                }
        }
        h1 {
                color: $brand-primary;
                font-size: 2.5rem;

                span {
                        padding: 0 0 0 1.5rem;
                        font-weight: bold;
                        border-bottom: 1px solid $brand-primary;
                        display: block;
                }
                small {
                        font-size: 0.5em;
                        padding: 0.25em 0;
                        display: block;
                        text-align: right;
                }
        }
        a[href='#top'] {
                display: block;
                position: absolute;
                left: 45%;
                right: 45%;
                bottom: 1rem;
                margin: 0 auto;
        }
}

.landing {
        header {
                height: 80vh;
        }
        a[href='#top'] {
                display: none;
        }
}


@include media-breakpoint-up(md) {
        header {
                padding-top: 0;
                h1 {
                        font-size: 8vw;
                }
                justify-content: center;
                background-image: url('http://i.imgur.com/oCNbSjO.jpg'), linear-gradient(87deg, $white 0%, transparent 87%); // toothless grin
        }
}
@include media-breakpoint-up(lg) {
        header {
                // background-image: url(http://i.imgur.com/NRbMgt.jpg); // toothy smiling
                background-image: url('http://i.imgur.com/oCNbSjO.jpg'), linear-gradient(87deg, $white 0%, transparent 87%); // toothless grin
        }
}
@include media-breakpoint-up(xl) {
        header {
                height: 70vmin;
        }
}
