header {
  align-items: flex-start;
  // background-image: url(http://i.imgur.com/NRbMgtih.jpg); // toothy smiling
  background-image: linear-gradient(90deg, rgba($white, .5) 0, rgba($white, .5) 100%), url('//i.imgur.com/oCNbSjOh.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 5vw, 100% 100%, 0 calc(100% - 5vw));
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 60vmax;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  position: relative;

  nav {
    display: block;
    margin-top: 1rem;
    padding-left: 1.4rem;

    a {
      font-size: 1.12rem;
      font-weight: normal;
      margin: 1rem .25rem;
      text-decoration: none;
    }

    a:hover {
      font-weight: bold;
    }
  }

  h1 {
    color: $brand-primary;
    font-size: 2.5rem;

    span {
      border-bottom: 1px solid $brand-primary;
      display: block;
      font-weight: bold;
      padding: 0 0 0 1.5rem;
    }

    small {
      display: block;
      font-size: .5em;
      padding: .25em 0;
      text-align: right;
    }
  }

  [href='#top'] {
    bottom: 1rem;
    display: block;
    left: 45%;
    margin: 0 auto;
    position: absolute;
    right: 45%;
  }
}

.landing {
  [href='#top'] {
    display: none;
  }
}


@include media-breakpoint-up(md) {
  .landing {
    header {
      height: 80vmin;
    }
  }

  header {
    background-image: url('//i.imgur.com/oCNbSjO.jpg'), linear-gradient(87deg, $white 0%, transparent 87%); // toothless grin

    h1 {
      font-size: 8vw;
    }

    nav a {
      font-size: 1.7rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  header {
    // background-image: url(http://i.imgur.com/NRbMgt.jpg); // toothy smiling
    background-image: url('//i.imgur.com/oCNbSjO.jpg'), linear-gradient(87deg, $white 0%, transparent 87%); // toothless grin
  }
}

@include media-breakpoint-up(xl) {
  .landing {
    header {
      height: 70vmin;
    }
  }
}
