.navbar {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        flex-basis: 0;
        flex-grow: 1;
        margin: 5vh 1vw;
        a {
                margin: 0.5em;
        }
}


.post_pagination {
        width:100%;
        clear:both;
        .prev {
                float:left;
        }
        .next {
                float:right;
        }
        a {
                margin-bottom:0.1em;
                &:hover {
                        margin-bottom:0em;
                }
        }
}
