* { box-sizing:border-box; }
html, body { height: 100%; width: 100%; }
body { background-color: #7F7F7F; height: auto; overflow-x: hidden; }
img { max-width: 100%; min-width: calc(100% - 1em); }
.wallpaper { z-index: 10; position: fixed; top: 0px; right:-25%; transform: rotate(-45deg); height: 25vw; width: 50vw;}
.wallpaper div { position:relative; height: 2.5vh; width: 100vw; }
main {
  max-width: 90vw;
  width: 45em;
  margin: 5vw auto;
  position: relative;
  z-index: 1000;
}
.article {
  background: rgba(255,255,255,0.8);
  box-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  height: 100%;
  padding: 1em;
}
header {
  font-size: 1.3em;
  margin-bottom: 1rem;
}
header a {
  margin-right: 2em;
  text-decoration: none;
}
footer {
  height: 30em;
}
.archive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr) );
  grid-gap: 1em;
  padding-inline-start: 0;
}

