<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> {% if page.title %} {{ page.title }} | {% endif %} Joel Kirchartz - Web Yinzer n'at</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" media="not print" href="/css/style.css" />
        <link rel="stylesheet" media="only print" href="/css/print.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="/favicon.ico" rel="icon" type="image/x-icon" />
        <meta name="p:domain_verify" content="28092cfebd8dcf35ac5c5d6a35788f6c"/>
        {% seo %}
        {% feed_meta %}
        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body>

        <div id="main" >
            <header>
                <h1><a href="/">JKirchartz</a></h1>
                <span>Web Yinzer</span>
                {% include navigation.html %}
            </header>
            {{ content }}
        </div>
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>
