<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="p:domain_verify" content="28092cfebd8dcf35ac5c5d6a35788f6c"/>
    <meta name="flattr:id" content="mypzvj">
    <title> {% if page.title %} {{ page.title }} | {% endif %} Joel Kirchartz - Web Yinzer n'at</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" media="not print" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    {% seo %}
    {% feed_meta %}
  </head>
  <body>
    {% include header.html %}
    <main id="main">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
