<!DOCTYPE html>
<html>
  <head>{% include head.html %}</head>
  <body class="landing">
    {% include header.html %}
    <main>
      <img class="featured-img" src="//i.imgur.com/kpDsH1K.jpg">
           <!-- srcset="//i.imgur.com/kpDsH1K.jpg 250w, -->
           <!--         //i.imgur.com/QQJKhBz.jpg 500w, -->
           <!--         //i.imgur.com/NRbMgti.jpg 700w" -->
      <p>
        <span class="h1">Hi, I'm Joel.</span>
        I create things to share on the internet, and I help other people make things for the internet.
        <span class="h3">Maybe I can help you, too?</span>
        I make nice and hopefully beautiful websites, web apps, videos, music stuff, zines, and <span class="h3">anything else I can think of.</span>
        So why not <a href="/about.html">Learn more about me</a> or <a href="/portfolio.html">check out some of my work</a> or even <a href="/notes.html">See what's been on my mind.</a>
      </p>
    </main>
  <footer>
    {% include social_media.html %}
  </footer>
    {% include scripts.html %}
  </body>
</html>
