<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="9001;url={{ content | strip_html | strip_newlines}}">
    <title>301: Moved Permanently</title>
</head>
<body>
    <h1>301: Moved Permanently</h1>
    <p>Page moved to <a href="{{ content | strip_html | strip_newlines }}">{{ content | strip_html | strip_newlines }}</a></p>
        <script>
            setTimeout(function(){window.location="{{ content | strip_html | strip_newlines }}";},9001);
        </script>
</body>
</html>
